services:
  db:
    image: postgres:14
    container_name: orders-postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - orders_pgdata:/var/lib/postgresql/data

volumes:
  orders_pgdata:
