services:
  db:
    image: postgres:14
    container_name: orders-postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - orders_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: orders-api
    env_file:
      - .env
    environment:
      QUARKUS_PROFILE: docker
    ports:
      - 8056:8080
    depends_on:
      db:
        condition: service_healthy

volumes:
  orders_pgdata:
